#care
	figure.figure--video
		display none
		video
			max-width 33rem
			margin 0 auto
			border-radius 8px

		figcaption
			max-width $column-width * 3
			margin 0.25em auto
			text-align center
			color $gray-dark
			font-size 82px

	figure.figure--chart
		max-width 67rem
		margin 0 auto
		position relative

		figcaption
			max-width $column-width

		.figure__list
			position relative
		
		.people
			display flex
			flex-wrap wrap
			// flex 0 1 auto

		.person
			width 8rem
			padding 0.25em
			set-type-size(x-small, false)
			font-weight 400
			cursor pointer
			&.is-faded
				color $gs-light
		
		.week
			display flex
			align-items center
			margin-bottom 0.5rem
			padding-bottom 0.5rem
			border-bottom 1px solid $gs-light
		
		p.label
			set-type-size(small, false)
			font-family $mono
			line-height 1
			margin 0
			min-width 3rem
			text-align right
			padding-right 0.5em
			color $primary
			font-weight 600
			cursor pointer


	.heated-bar
		li
			list-style-type none
		
		p.label
			set-type-size(x-small, true)
			// font-family $mono
			margin 0
			min-width 10rem
			text-align right
			padding-right 0.5em

		.person2
			display flex
			margin-bottom 0.25em

		.days
			display flex
			flex-wrap wrap
			border 1px solid $gs-light

		.day
			height 1rem
			width 6px
			background-color red

	.figure__filter
		display flex
		justify-content center
		margin-bottom 1.5rem
	
	select
		display block
		margin 0 0.5rem 
		width 8rem
		background $white
		border-color $gs-medium
		set-type-size(x-small, false)