#care
	figure.figure--video
		display none
		video
			max-width 33rem
			margin 0 auto
			border-radius 8px

		figcaption
			max-width $column-width * 3
			margin 0.25em auto
			text-align center
			color $gray-dark
			font-size 82px

	figure.figure--chart
		max-width 59rem
		min-height 320px
		margin 0 auto
		position relative

		figcaption
			max-width $column-width

		.figure__list
			position relative
			+mq('bp-4')
				padding-left 1rem
		
		.people
			display flex
			flex-wrap wrap
			// flex 0 1 auto

		.person
			width 8.5rem
			padding 0.25em
			set-type-size(xx-small, false)
			font-weight 500
			cursor pointer
			+mq('bp-4')
				width 9.1rem
				set-type-size(x-small, false)

			&.is-faded
				a
					color $gs-light

			a
				border none
				color $gs-darkest
				letter-spacing 0.04em
				&:visited
					color $gs-darkest
				&:hover
					color $secondary
		
		.week
			display flex
			margin-bottom 0.5rem
			padding-bottom 0.5rem
			border-bottom 1px solid $gs-light
			flex-direction column
			+mq('bp-4')
				flex-direction row
				align-items center
		
		p.label
			set-type-size(x-small, false)
			font-family $mono
			line-height 1
			margin 0.5em 0
			min-width 2.5rem
			padding-right 0.5em
			color $primary
			font-weight 600
			cursor pointer
			+mq('bp-4')
				set-type-size(small, false)
				text-align right
				margin 0
				span
					display none

	.figure__label
		margin 0
		position absolute
		top 50%
		left 0
		font-family $mono
		transform rotate(-90deg) translate(-33%, 0)
		transform-origin 0 50%
		display none
		+mq('bp-4')
			display block