#change
	figure
		max-width 33.5rem
		margin 0 auto
		position relative
		&.is-truncated
			max-height 36rem
			overflow hidden

	table
		set-type-size(x-small, false)
		margin 0 auto
		table-layout fixed
		position relative

	th,td
		width 25%
		vertical-align bottom
		&:first-child
			min-width 9rem
			width 9rem
	thead
		tr
			// border-bottom 2px solid $gs-light
		th
			text-transform uppercase
			letter-spacing 0.05em
			padding 0.25em 0.5em
			set-type-size(xxx-small, false)
			font-weight 600
		.number
			text-align right
	tbody
		tr
			border-bottom 1px solid $gs-light
		td
			padding 0.5em
			color lighten($fg, 10)
			&:first-child
				font-weight 400
				cursor pointer
				color $fg
			&:nth-child(4)
				font-weight 600
				color darken($fg, 10)

		.number
			font-family $mono
			text-align right

	.toggle-table
		text-align center
		margin-top 1rem
		.btn
			background-color transparent
			color $fg
			border 1px solid $fg
			padding 0.25em 0.5em
			width 7rem
			text-transform uppercase
			font-weight 600
			transition background-color 250ms
			&:hover
				background-color rgba($primary, 0.2)

	
	.show-more
		position absolute
		width 100%
		height 5rem
		background linear-gradient(rgba($bg, 0), $bg)
		bottom 0
		visibility hidden
		&.is-visible
			visibility visible