#change
	figure
		max-width 40rem
		margin 0 auto
		position relative
		&.is-truncated
			max-height 38.5rem
			overflow hidden

	table
		set-type-size(x-small, false)
		margin 0 auto
		table-layout fixed
		position relative

	th,td
		width 25%
		vertical-align bottom
		&:first-child
			min-width 9rem
			width 9rem
	thead
		tr
			border-bottom 2px solid $gs-light
		th
			text-transform uppercase
			letter-spacing 0.05em
			padding 0.25em 0.5em
			set-type-size(xx-small, false)
		.number
			text-align right
	tbody
		tr
			border-bottom 1px solid $gs-light
		td
			padding 0.5em
			&:first-child
				font-weight 500
				cursor pointer
			&:nth-child(4)
				font-weight 600

		.number
			font-family $mono
			text-align right

	.toggle-table
		text-align center
		margin-top 1rem
		.btn
			background-color transparent
			color $fg
			border 2px solid $fg
			padding 0.25em 0.5em
			width 5rem
			text-transform uppercase
			font-weight 600