#impact
	figure
		max-width 60rem
		margin 0 auto
	figcaption
		max-width $column-width
	.figure__chart
		position relative

	.person
		cursor pointer
		&.is-inactive
			path.after--area
				fill lighten($primary, 40)
				&:nth-child(even)
					fill lighten($primary, 40)
			path.after--line
				stroke lighten($primary, 30)
			text
				opacity 0.35
		path.after--line
			stroke darken($primary, 20)
			stroke-width 1.5px
			fill none
		
		path.after--area
			fill lighten($primary, 10)
			stroke none

		text
			set-type-size(x-small, false)
			font-weight 400
			fill $fg

		&:nth-child(even)
			path.after--area
				fill darken($primary, 10)

	.interaction
		fill-opacity 0

	figure svg
		.g-axis
			// .tick:first-of-type
			// 	display none
			.tick line
				stroke-opacity 0.5
				stroke $gs-medium
				stroke-width 1px
				stroke-dasharray 4px 4px
			path
				display none 