#perspective
	figure
		position sticky
		top 0
		padding 1rem
		transform translate3d(0,0,0)
		display flex
		align-items center
		width 100%

	.figure__chart
		position relative
		width 100%
		max-width 80rem
		margin 0 auto
		cursor pointer

	figcaption
		max-width $column-width

	article
		pointer-events none
		position relative
		// background rgba(red, 0.5)

	.step
		max-width $column-width
		margin 0 auto
		padding-bottom 320px
		p
			margin 0
			padding 1rem
			background-color rgba($bg, 1)
			box-shadow 0 0 10px 2px rgba($fg, 0.25)


	figure svg
		.axis--x
			.tick line
				display none
			path
				display none
			// .tick:last-of-type
			// 	display none

		.axis--y
			.tick:first-of-type
				display none
			.tick line
				stroke-opacity 0.5
				stroke $gs-medium
				stroke-width 1px
				stroke-dasharray 4px 4px
			path
				display none 


		.person
			&.is-active
				circle
					fill $primary
			path
				fill none
				stroke $gs-medium
				stroke-width 2px
				transition stroke 250ms ease-in-out
				&.is-transparent
					opacity 0
			
			circle
				stroke $bg
				fill $gs-medium
				stroke-width 2px

				&.is-transparent
					opacity 0
		
			&.is-transparent
				opacity 0
		
			&.is-highlight
				path
					stroke $primary
				circle
					fill $primary

		.g-voronoi path
				fill-opacity 0