/* CUSTOM STORY STYLE */

body
	overflow-x hidden
	font-weight 300
main, main p
	set-type-size(root, false)
	+mq('bp-3')
		font-size 21px

.section__hed
	max-width $column-width
	margin 0 auto

svg text
	font-family $sans
	font-size 12px

.axis text
	text-transform uppercase
	font-weight 500
	fill $gs-dark
	font-size 11px
	font-family $mono

section
	padding 3rem 0.5rem 0 0.5rem

.prose
	margin 3rem auto

.method
	padding 1rem
	margin 0 auto
	background-color $gs-light

.g-annotation
	transition opacity 250ms ease-in-out
	pointer-events none

	.annotation-note-title
		fill $secondary
		set-type-size(xx-small, false)
		font-weight 400
		+mq('bp-4')
			set-type-size(x-small, false)

	.connector, .note-line
		stroke $secondary

	.annotation-subject path
		stroke $secondary

.is-mobile
	.person a, .name a
		pointer-events none
	
.prose
	padding 0
	p strong
		font-weight 500