/* CUSTOM STORY STYLE */

main, main p
	set-type-size(root, false)
	+mq('bp-3')
		font-size 21px

.section__hed
	max-width $column-width
	margin 0 auto

svg text
	font-family $sans

.axis text
	text-transform uppercase
	font-weight 500
	fill $gray

section
	padding 3rem 1rem 0 1rem

.prose
	margin 3rem auto