.tooltip
	position absolute
	z-index set-index(overlay)
	background rgba($off-white, 0.95)
	box-shadow 0 0 10px 2px rgba($fg, 0.25)
	padding 1rem
	visibility hidden
	transition top 250ms ease-in-out, left 250ms ease-in-out
	width 18rem
	top 0
	left 50%
	transform translate(-50%, 0)

	+mq('bp-4')
		width 22rem
		top 50%
		left 50%
		pointer-events none
		transform translate(-50%, -115%)
		
	&.is-center
		transform translate(-50%, -115%)
		&.is-bottom
			transform translate(-50%, 15%)
	&.is-left
		transform translate(0%, -115%)
		&.is-bottom
			transform translate(0%, 15%)
	&.is-right
		transform translate(-100%, -115%)
		&.is-bottom
			transform translate(-100%, 15%)
	&.is-visible
		visibility visible
	p
		set-type-size(xx-small)
		font-family $sans
		margin 0
		+mq('bp-4')
			set-type-size(x-small)
	
	.display
		display flex
		align-items baseline
		justify-content space-between
		margin-bottom 0.5rem
	.name
		font-weight 600
		set-type-size(root)
	.thumbnail
		width 4.8rem
		height 4.8rem
		display inline-block
		float left
		margin-right 0.75em
		background-size cover
		background-position center 0
		background-repeat no-repeat
		background-color $gs-medium
		border 1px solid $gs-medium
		border-radius 3px
		filter grayscale(100%)
	.cause
		display inline-block
		border-top 1px solid $gs-light
		margin-top 1em
		padding-top 0.5em
		text-transform uppercase
		font-weight 500
		set-type-size(xx-small)
		span
			text-transform none
			font-weight 400
			set-type-size(x-small)

	.close
		text-align center
		margin-top 0.5rem
		display none
		button
			font-weight 500
			set-type-size(xxx-small)
			text-transform uppercase
			border 1px solid $primary
			padding 0.5em


	&--hidden
		opacity 0
		pointer-events none
		transform translate(-50%, -115%)
		transition none

	
.is-mobile .tooltip .close
	display block