.tooltip
	position absolute
	top 0
	left 0
	z-index set-index(overlay)
	background rgba($bg, 0.9)
	width 25rem
	box-shadow 0 0 10px 2px rgba($fg, 0.25)
	padding 1rem
	p
		set-type-size(small)
		font-family $sans
		margin 0
	
	.thumbnail
		width 4rem
		display inline-block