{{!-- <h3 class='section__hed'>{{copy.careHed}}</h3> --}}

<figure class='figure--video'>
	<video src='assets/video/akecheta-web.mp4' muted preload loop autoplay></video>
	<figcaption class='x-small tk-atlas'>{{{copy.careCaption}}}</figcaption>
</figure>


<div class='prose'>
	{{#each copy.careIntro}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

<figure class='figure--chart'>
	<p class='figure__hed'>{{{copy.careChartTitle}}}</p>
	<ul class='figure__list tk-atlas'></ul>

	<ul class='heated-bar'>

	</ul>
</figure>