<div class='prose'>
	{{#each copy.careIntro}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

<figure class='figure--chart'>
	<ul class='figure__list tk-atlas'></ul>
	<figcaption class='x-small tk-atlas'><em>{{{copy.careNote}}}</em></figcaption>
	<p class='figure__label x-small'>Weeks until normal traffic</p>
</figure>