<div class='prose'>
	{{#each copy.changeIntro}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

<figure class='is-truncated'>
	<table class='tk-atlas'>
		<thead>
			<tr>
				<th>Name</th>
				<th class='number'>Avg. 48 hr. views<br> before death</th>
				<th class='number'>Views 48 hrs.<br> after death</th>
				<th class='number'>Increase (%)</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
	<div class='show-more is-visible'></div>
</figure>

<div class='toggle-table'><button class='btn x-small'>Show More</button></div>