{{!-- <h3 class='section__hed'>{{copy.changeHed}}</h3> --}}

<div class='prose'>
	{{#each copy.changeIntro}}
	<p>{{{value}}}</p>
	{{/each}}
</div>

<figure class='is-truncated'>
	<table class='tk-atlas'>
		<thead>
			<tr>
				<th>Name</th>
				<th class='number'>Average views before death</th>
				<th class='number'>Views 48 hours after death</th>
				<th class='number'>Increase (%)</th>
			</tr>
		</thead>
		<tbody></tbody>
	</table>
</figure>

<div class='toggle-table'><button class='btn x-small'>Show all</button></div>