<h3 class='section__hed'>{{copy.changeHed}}</h3>
	<figure>
		<table class='tk-atlas'>
			<thead>
				<tr><th>Name</th><th class='number'>Views (avg.)</th><th class='number'>Views (death)</th><th class='number'>Times Bigger</th></tr>
			</thead>
			<tbody></tbody>
		</table>
	</figure>
</div>