<div class='filters tk-atlas'>
	<p class='label x-small'><span class='label__value x-small'></span><span class='description'>Filter @@include('filter.svg')</span></p>
	<div class='filter filter--cause'>
		<p class='filter__label x-small'>Cause</p>
		<ul></ul>
	</div>
	<div class='filter filter--industry'>
		<p class='filter__label x-small'>Industry</p>
		<ul></ul>
	</div>
	<p class='remove x-small'>None</p>
</div>