<section id='conclusion'>
	<div class='prose'>
		{{#each copy.conclusion}}
		<p>{{{value}}}</p>
		{{/each}}
	</div>

</section>

<div class='method'>
	<div class='prose'>
		<h3 class='prose__hed'>
			<strong>{{{copy.methodHed}}}</strong>
		</h3>
		{{#each copy.methodText}}
		<p class='small'>{{{value}}}</p>
		{{/each}}
	</div>
	
</div>