{{!-- <h3 class='section__hed'>{{copy.perspectiveHed}}</h3> --}}
<div id='perspective-scroll'>
	<figure class='scroll__figure'>
		<div class='figure__chart'>
			<svg>
				<g class='g-axis'>
					<g class='axis axis--x'></g>
					<g class='axis axis--y'></g>
				</g>
				<g class='g-vis'>
					<g class='people'></g>
				</g>
			</svg>
		</chart>
	</figure>
	<article class='scroll__text'>
		{{#each copy.perspectiveSteps}}
		<div class='step' data-step='{{step}}'>
			<p>{{text}}</p>
		</div>
		{{/each}}
	</article>
</div>